/****************************************/
/*********** GLOBALES      **************/
/****************************************/

.padding{
    padding: 3%!important;
}


/****************************************/
/*********** LOGIN      **************/
/****************************************/


.login-form-icon{
    font-size: 35px;
}

.pac-container .pac-logo{
    z-index: 99999!important;
    position: absolute !important;
    display: block!important;
}